body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 500px;
}

nav a {
    display: block;
    padding: 10px;
    background-color: aquamarine;
    border-bottom: thin solid white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.temple {
    border: thin solid black;
    float: right;
}

.floater {
    float: right;
}

.temple img {
    position: absolute;
    top: 0  ;
}

.stop   {
    clear: both;
}

.hammer {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
}