body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card {
    border: thin solid black;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 5px 5px 3px orange;
    width: 150pxs;
}

.row {
    display: flex;
    flex-flow: row wrap;
    /* flex-direction: row;
    flex-wrap: wrap*/
    justify-content: space-evenly;

}

