body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card {
    border: thin solid black;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 5px 5px 3px orange;
    width: 150pxs;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav a {
    display: block;
    padding: 10px;
    background-color: orange;
    color: black;
    width: 150px;
    text-decoration: none;
}

nav a:hover {
    background-color: white;
    color: black;
    text-decoration: underline;

}

.row {
    display: flex;
    flex-flow: row wrap;
    /* flex-direction: row;
    flex-wrap: wrap*/
    justify-content: space-evenly;

}

