body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.main-row {
    display: flex;
}

.sidebar {
    width: 100px;
}

.card {
    width: 100px;    
}

.card img {
    width: 100%;
}

@media ONLY screen AND (max-width: 400px) {
    body {
        background-color: blue;
    }
}