body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav a {
    display: block;
    padding: 10px;
    background-color: rgb(181, 24, 37);
    color: white;
    width: 150px;
    text-decoration: none;
    text-align: center;   
}

a.active {
    background-color: grey;
}

nav a:hover {  
    background-color: white;
    color: black;
    text-decoration: underline;
}

.content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.sidebar {
    flex: 1;
    padding: 15px;
}

.imgcontainer {
    display: flex; 
    gap: 5px;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: flex-start;
}

.imgbox {
    background-color: rgb(212,25,54);
    border-radius: 8px;
    box-shadow:0 25px 50px black;
    text-align: left;
    overflow: hidden;
    width: 300px;
    padding: 16px;
}

.img {
  width: 100%;
  height: auto;
  display: block;
}

form {
    max-width: 600px;
    margin: auto;
    padding: 15px;
}

.form-row {
    display: flex;
    margin-bottom: 12px;
    align-items: center;
}

label {
    width: 150px;
}

input, textarea, select {
    padding: 6px;
    border-radius: 4px;
    border: 1px solid black;
    width: 100%;
}

textarea {
    height: 80px;
}

.options label {
    margin-right: 10px;
}

fieldset {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 15px;
}

legend {
    font-weight: bold;
}

.submit-btn {
    padding: 10px 20px;
    border: none;
    background-color: burlywood;
    color: white;
    border-radius: 5px;
}

@media print {
    nav {
        display: none;
    }

    .sidebar {
        display: none;
    }

    header {
        display: none;
    }

    footer {
        display: none;
    }
}

@media (max-width: 650px) {

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        width: 100%;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .sidebar {

        order: 2;
        margin: 0;
    }

    .imgcontainer {
        flex-direction: column;
    }

    .imgbox {
        flex: 1 1 100%;
        width: 100%;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}